.App {
  text-align: center;
}

.card {
  /*width: 45%;*/
  width: 15%;
  margin: auto;
  text-align: center;
  margin-top: 1%;
}

.list-column-content {
  width: 95%;
  margin: 0 auto;
  margin-top: 3%;
}

.rewards-list {
  margin-left: 3%;
}

/* .button-link {
  background: none !important;
  border: none;
  padding: 0 !important;

  font-family: arial, sans-serif;
  color: #069;
  cursor: pointer;
}
.button-link {
  text-decoration: underline;
} */
